<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HostingApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEArz5kcD1kiAKTotZ3Fh8u
Vq3Sdm6f0WB57CfqkkdQv0nXSEMoxt8WSGcsFLweBJf4sfT8Rbg4a1PpZy5WEPPK
ChOXCtj2cuM28g6l9IMINMIp5s5PJYObCFJq1+PI2VTOHVdbayg4mlcd8111TJCv
4slcAHUkwpXHB85LWbBnfIq8mM1ivztRvG0qHDFvDn7lziotHBAYk+jC0UFC1i4R
QoiPiJruNBGUChudM6Fvnz8UotGKJWwlYw1eLWaUnTTQxOusPh/iAYcTXwfodQvp
kyAcZ3Pqr5wOl5lohM6pQZmOibktwuFeSy9RpQXtyYWVo7QMuReBSW2ndi95UFuN
BwIDAQAB
-----END PUBLIC KEY-----</string>
	<key>CodePushDeploymentKey</key>
	<string>PWvbJBjc9Nnuw6PItZ7mQnV56OP3B1N0LCiR7</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>codepush.azurewebsites.net</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
		</dict>
		<key>localhost</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
